body {
        background: linear-gradient(180deg, #FF7400 0%, #FF3900 100%);
        background-attachment: fixed;
        height: 100%;
}
h1 {	padding-top: 12%;

        color: #FFFFFF;
        font-family: 'Roboto', sans-serif;
        font-size: 64px;
        font-weight: 900;
        line-height: 75px;
        text-align: center;

}
#nameDisplay {
        padding-top: 5%;
	color: #000000;
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	font-weight: 900;
	line-height: 47px;
	text-align: center;
}
button {
        height: 94px;
        width: 400px;
        padding: 20px;
	color: #634E4E;
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	font-weight: 900;
        line-height: 47px;
        border: 1px solid white;
        border-radius: 54px;
        background-color: #FFFFFF;
        box-shadow: 0 3px grey;    
}
.buttonHolder {
        padding-top: 8%;
        text-align: center;
        margin: auto;
}
button:hover {background-color: whitesmoke}
button:active {
        background-color: whitesmoke;
        box-shadow: 0 1px grey;
        transform: translateY(2px);
}